body {
  background-color: #b1e3fa;
  background-image: url("images/RainbowStripe.png");
  background-size: cover;
  
}



 h1 {
  color: #6F518F;
  font-family: modak;
  font-size: 128px;
  -webkit-text-stroke: black 0.1px;
  /*position: absolute;
  top: 160px;
    left: 300px;*/
}

h2 {
  color: #ff95a9;
  font-family: chicle;
  font-size: 64px;
  -webkit-text-stroke:black 0.1px;
 /* position: absolute;
  top: 560px;
left: 300px; */

} 


.page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "l l . . . m m . t t t . "
    ". . n n n n . . . . r r "
    ". . . . . . b b b . . . ";
}

.leftCloud {
  /* position: absolute;
  top: 0px;
 left: 0px; */
  grid-area: l;
}

.bottomCloud {
  /*position: absolute;
  right: 300px;
  bottom: 0px;*/

  grid-area: b;
}

.rightCloud {
  /* position: absolute;
  top: 350px;
  right: 0px; */
  grid-area: r;
}

.topCloud {
  /* position: absolute;
  top: 0px;
  right: 100px; */

  grid-area: t;
}

.monogram-container {
  /* position: absolute;
  top: 0px;
  padding-right: 100px; */
  grid-area: m;
}

.nametext-container{
  grid-area: n;
}

.st0{

                    .emailLogo {
                      fill: #a3d17b;
                    }
              
                    .cls-2, .cls-3 {
                      fill: none;
                    }
              
                    .cls-4 {
                      fill: #fffffa;
                      stroke: #231f20;
                    }
              
                    .cls-4, .cls-3 {
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                    }
              
                    .cls-3 {
                      stroke: #010101;
                    }
              
                    .cls-5 {
                      clip-path: url(#clippath);
                    }
                
              }